@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.Register * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: rgb(109, 92, 75);
}

.Register body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg, rgb(251, 211, 141), rgb(117, 202, 199));
}

.Register .container {
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.Register .container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.Register .container .title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 10px;
    background: linear-gradient(135deg, rgb(251, 211, 141), rgb(117, 202, 199));
}

.Register .content form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
    max-height: 300px;
    overflow-y: scroll;
}

.Register .user-details::-webkit-scrollbar {
    width: 5px;
}

.Register form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

.Register form .input-box span.details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.Register .user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 13px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.Register .user-details .input-box input:focus,
.Register .user-details .input-box input:valid {
    border-color: rgb(117, 202, 199);
}


.Register #dot-1:checked~.category label .one,
.Register #dot-2:checked~.category label .two,
.Register #dot-3:checked~.category label .three {
    background: rgb(117, 202, 199);
    border-color: #d9d9d9;
}

.Register .button input {
    margin: 10px 0;
    background-color: rgb(254, 234, 199);
    border: 2px solid rgb(109, 92, 75);
    border-radius: 30px;
    box-shadow: rgb(109, 92, 75) 4px 4px 0 0;
    color: rgb(109, 92, 75);
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.Register .button input:hover {
    background-color: #fff;
}

.Register .button input:active {
    box-shadow: rgb(109, 92, 75) 2px 2px 0 0;
    transform: translate(2px, 2px);
}

@media (min-width: 768px) {
    .Register .button input {
        max-width: 95%;
        min-width: 120px;
        padding: 0 25px;
    }
}

@media(max-width: 584px) {
    .Register .container {
        max-width: 90%;
    }

    .Register form .user-details .input-box {
        margin-bottom: 15px;
        width: 70%;
    }
}

@media(max-width: 459px) {
    .container .content {
        flex-direction: column;
    }
}