.addpet *{
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
}

.addpet body {
	display: flex;
	padding: 60px;
	justify-content: center;
	align-items: center;
	min-height: 90vh;
    background-color: rgb(247, 247, 247);
    font-family: 'Catamaran';
}

.addpet .back i {
	transition: all .2s ease-in-out; 
	color: rgb(88, 75, 65);
    position: absolute;
    top: 30px;
    left: 30px;
	z-index: 500;
}

.addpet .back i:hover {
	transform: scale(1.15); 
}

.addpet main {
    background-color: #fff;
    border-radius: 30px;
    padding: 20px;
	width: 500px;
	position: relative;
}

.addpet .container {
	width: 100%;
	padding: 20px;

}

.addpet .img-area {
	position: relative;
	width: 270px;
	aspect-ratio: 1/1;
	background-color: rgb(247, 247, 247);
	border-radius: 15px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 0 auto;
}

.addpet .img-area h3 {
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 6px;
}
.addpet .img-area p {
	color: #999;
}
.addpet .img-area p span {
	font-weight: 600;
}
.addpet .img-area img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 100;
}

.addpet #file{
	margin: 20px;
	position: absolute;
	left: 80px;
}


.addpet #file::-webkit-file-upload-button{
	padding: 7px 20px;
	border-radius: 20px;
	background-color: rgb(117, 202, 199);
	color: rgb(255, 255, 255);
	border: none;
	cursor: pointer;
}

.addpet #file::-webkit-file-upload-button:hover{
	background-color: rgb(127, 109, 94);
	color: #fff;
	transition: .3s;
}


.addpet .textinfo{
	margin-top: 40px;
	padding-left: 20px;
	padding-right: 20px;
    display: flex;
    flex-direction: column;
}

.addpet .textinfo input, .addpet select{
	border-radius: 50px;
	height: 50px;
	padding: 10px 20px;
	border: 1px solid rgb(179, 179, 179);
	transition: box-shadow 0.3s ease;
	margin: 10px;
}

.addpet .textinfo input:focus,.addpet select:focus{
	outline: none;
	box-shadow: 0 0 0 3px rgb(88, 75, 65);;
}

.addpet input[type="date"]{
	font-family: 'Catamaran';
	font-size: 17px;
}

.addpet #type{
	font-family: 'Catamaran';
	appearance: none;
}

.addpet #selectarrow{
	font-size: 25px;
	position: absolute;
}


.addpet .CancelAndSubmit{
	margin-top: 20px ;
	margin-bottom: 70px ;
	display: flex;
	padding: 10px 30px;
	justify-content: center;
}

.addpet .button{
	margin: 5px;
	font-size: 20px;
	padding: 10px 30px;
	border-radius: 40px;
	cursor: pointer;
}

.addpet #cancel{
	background-color: rgb(255, 255, 255);
	border: solid  rgb(179, 179, 179);
	color:   rgb(179, 179, 179);
	transition: .3s;
}

.addpet #cancel:hover{
	background-color: rgb(179, 179, 179);
	color: white;
}

.addpet #submit{
	background-color: rgb(255, 255, 255);
	border: solid  rgb(117, 202, 199);
	color:  rgb(117, 202, 199);
}

.addpet #submit:hover{
	background-color: rgb(117, 202, 199);
	color: white;
	transition: .3s;
}

.addpet .navigate i {
	transition: all .2s ease-in-out;
	color: rgb(88, 75, 65);
}

.addpet .navigate i:hover {
	transform: scale(1.15);
}

.addpet .navigate {
	padding: 20px;
	overflow: hidden;
	background-color: rgb(251, 211, 141);
	position: fixed;
	bottom: 0;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	text-align: center;
}

@media screen and (min-width: 680px) {

	.addpet .back i {
		margin-left: 60px;
	}

	.addpet form {
		margin-left: 200px;
		right: auto;
		display: flex;
		flex-direction: row;
	}
	.addpet .img-area {
		position: relative;
		width: 400px;
	}

	.addpet .textinfo {
		margin-left: 200px;
		margin-top: 50px;
		justify-content: end;
	}

	.addpet select {
		width: 400px;
	}

	.addpet .CancelAndSubmit{
		max-width: 300px;
		max-height: 60px;
		display: flex;
		flex-direction: column;
		margin-bottom: 50px;
		margin-top: 30px;
		margin-left: 200px;
	}

	.addpet .navigate {
		top: 0px;
		height: 100%;
		display: flex;
		align-items: center;
		flex-direction: column;
		width: 60px;
		z-index: 750;
	}

	.addpet .navigate a:nth-child(1) {
		order: 1;
	}

	.addpet .navigate a:nth-child(2){
		margin-top: 70px;
	}

	.addpet .navigate a {
		padding: 15px;
	}
}