* {
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
}

body {
    font-family: 'Catamaran';
    background-color: #f4f4f4;
}

.profile-container {
    max-width: 500px;
    margin: auto;
    background-color: #fff;
    padding-left: 0;
    padding-right: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: relative;
    text-align: center;
    padding-top: 0;
    padding-bottom: 100px;
}

.mid-container {
    background-color: rgb(117, 202, 199);
    padding: 20px 0;
}

h2 {
    text-align: center;
    color: rgb(14, 73, 78);
    margin-bottom: 20px;
}

.profile-picture-container {
    position: relative;
    display: inline-block;
    background-color: rgb(117, 202, 199);
}

img {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
    object-fit: cover;
}

.edit-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    color: rgb(88, 75, 65);
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
}

.edit-icon:active {
    color: rgb(36, 134, 143);
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: separate;
    border-spacing: 0 10px;
    background-color: #fff;
    padding: 0 15px;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-radius: 20px;
}

th {
    background-color: #f2f2f2;
}

td {
    font-weight: bold;
}

#logout {
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#logout:hover {
    background-color: #fff;
}

#logout:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}

@media (min-width: 768px) {
    #logout {
        min-width: 120px;
        padding: 0 25px;
    }
}

/* Optional: Style links */
a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.navigate i {
    transition: all .2s ease-in-out;
    color: rgb(88, 75, 65);
}

.navigate i:hover {
    transform: scale(1.15);
}

.navigate {
    padding: 20px;
    overflow: hidden;
    background-color: rgb(251, 211, 141);
    position: fixed;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}